body {
  margin: 0;
  padding: 0;
  background-color: #31ce76;
}

.contain {
  background-color: #ce7631;
  width: 100%;
  height: 70vh;
  text-align: center;
}

.main-text {
  position: relative;
  margin: 0 auto 0;
  width: 20%;
  top: 50%;
  background-color: #7631ce;
}
